{% extends 'base.html.twig' %}


{% block body %}


	<div class="container-fluid">
		<h1 class="my-5 text-center">
			GESTION DES ARTICLES 
		</h1>
		<div class="text-center mb-3">
			<a href="{{ path('admin_new') }}" class="btn btn-success text-white mb-3">
				<i class="fas fa-plus"></i>
				Crée un nouvel article
			</a>
		</div>
	</div>

	<table class="table table-over">
		<thead class="thead-dark">
			<tr>
				<th>ID</th>
				<th>Titre</th>
				<th>introduction</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}
				<tr>
					<td>{{ article.id }}</td>
					<td>{{ article.title }}</td>
					<td>{{ article.introduction }}</td>
					<td>
						<a href="" class="btn btn-warning">
							<i class="fas fa-edit"></i>
							modifier
						</a>
						<a href="{{ path('admin_delete', { 'id': article.id }) }}" class="btn btn-danger">
							<i class="fas fa-trash"></i>
							Supprimer
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>




{% endblock %}