<nav class="navbar navbar-expand-lg navbar-light bg-primary">
	<a class="navbar-brand" href="{{ path('home') }}">
    <i class="fas fa-home"></i>
    BLOG SYMFONY</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{ path('blog') }}">Le blog</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('contact') }}">Contact</a>
			</li>
		</ul>

		
			{% if app.user %}
				<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('admin_logout') }}">
					Deconnexion
					</a>
				</li>
				</ul>
				{% endif %}

				{% if app.user == null %}
					<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('admin_login') }}">
					connexion
					</a>
				</li>
				</ul>
			{% endif %}

	</div>
</nav>
