{% extends 'base.html.twig' %}

{% block title %}
	{{ controller_name }}
{% endblock %}

{% block body %}

	<h1 class="text-center">
		{{ controller_name }}!
	</h1>

		<div class="d-flex my-5 jumbotron un-article container">
			<img src="{{ article.image }}" alt="osef" width="350" height="180">
			<div class="col-8 d-flex flex-column justify-content-between">
				<h5 class="text-center">
					{{ article.title }}
				</h5>
				<p class="text-center">
					{{ article.description}}
				</p>
			</div>
		</div>

{% endblock %}
