{% extends 'base.html.twig' %}

{% block title %}
	{{ controller_name }}
{% endblock %}

{% block body %}

	<h1 class="text-center">
		{{ controller_name }}!
	</h1>

	<div class="my-5 jumbotron col-6 mx-auto container text-center">
		<h5 class="text-center">
			{{ article.title }}
		</h5>

		<img src="{{ article.image }}" class="my-3" alt="osef" width="350" height="180">

		<p class="text-center">
			{{ article.contenu }}
		</p>

		<p>
			sources :
			{{ article.source }}
		</p>

		<a href="{{ path('blog') }}" class="btn btn-success my-2 col-3 mx-auto btn-lg" role="button">retour</a>

	</div>
</div>{% endblock %}
